.btn {
  background-color: $purple;
  color: $light-blue;
  padding: 8px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px $light-blue;
  border: 1px solid $blue;
  width: 145px;
  text-align: center;
  font-style: italic;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 7px;
  font-size: 12px;
  text-decoration: none;
  background-color: $purple;
  border: 1px solid $blue;
  display: block;
  color: white;
  text-shadow: none;
  // font-style: normal;
}

.link-container a:hover{
  text-shadow:  0 0 6px orange, 0 0 12px $pink;
  -webkit-transform: scale(1.1);
}

.link-container a:active{
  -webkit-transform: scale(.95);
}

h1:hover {
  text-shadow:  0 0 2px orange, 0 0 12px $pink;
  -webkit-transform: scale(1.03);
  user-select: none; /* Standard */
}

.btn:hover {
  box-shadow:
  0 0 6px $light-blue,
  0 0 8px $light-blue;
  text-shadow: 0 0 2px $blue;
  // -webkit-transform: scale(1.05)
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $blue;
  box-shadow:
  0 0 6px $light-blue,
  0 0 8px $light-blue;
  text-shadow: 0 0 4px $pink;
  // color: gray;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $orange;
}
 