.btn {
  background-color: $purple;
  color: $light-blue;
  padding: 8px;
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px $light-blue;
  border: 1px solid $blue;
  width: 145px;
  text-align: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  font-size: 12px;
  text-decoration: none;
  background-color: $purple;
  border: 1px solid $blue;
  display: block;
  color: white;
  font-style: normal;
}

.link-container a:hover{
  text-shadow:
  0 0 10px $orange,
  0 0 12px $orange;
  -webkit-transform: scale(1.1);
}

.link-container a:active{
  -webkit-transform: scale(.9);
}

.btn:hover, .dropdown-content a:hover {
  box-shadow:
  0 0 6px $light-blue,
  0 0 8px $light-blue;
  text-shadow: 0 0 2px $blue;
  -webkit-transform: scale(1.05)
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: gray;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $orange;
}
 