$purple: #461E52;
$pink: #DD517F;
$orange: #E68E36;
$blue: #556DC8;
$light-blue: #7998EE;

.content {
  background-color: rgba(128, 128, 128, 0.392);
}

header {
  background: linear-gradient( #0D0221 0%, #45125e 40%, #A22561 80%, #FF3864 100% );
  box-shadow: 0 0 50px purple, 0 0 100px purple;
  text-shadow:
  0 0 6px #556DC8,
  0 0 8px #E68E36;
  border-bottom: 1px solid #E68E36;
  // box-shadow: 0 8px 6px -6px black;
}

.filter-container {
  // background: linear-gradient(  rgba(238, 156, 4) 0%,  #A22561 40% , #45125e 60%, #0d022192 100%);
  // box-shadow: 0 0 50px purple, 0 -100px 100px purple;
  border-bottom: 1px solid $purple;
  // box-shadow: 0 8px 4px -4px $purple;
}

.title-container, .link-container a {
  // background-color: orange;
  color: #E68E36;
}

.video-background {
  background-color: black;
  border: 0px solid black;
  // box-shadow:0 0 5px $orange;
  z-index: 1;
}

#video {
  z-index: 2;
}

#game-canvas {
  z-index: 3;
}

body {
  font-family: 'SF Alien Encounters', sans-serif;
  font-family: 'SF Alien Encounters Solid', sans-serif;
  // font-family: 'Times New Roman', Times, serif;
  background-color: black;
  letter-spacing: .05rem;
  font-style: italic;
  // font-kerning: normal;
}

h1 {
  font-size: 40px;
  margin: 0;
}

footer {
  color: orange;
}