.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1000px;
  min-width: 800px;
}

.filter-controls {
  max-width: 1000px;
  min-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-container {
  margin-bottom: 10px;
}


.link-container {
  display: flex;
  align-items: center;
}

.grid {
  height: 100%;
  width: 100%;
  background: red;
  transform: perspective(10px) rotateX(1deg);
  margin: 50px;
}

.app {
  margin: auto;
  width: 100%;
}

// make this video background dynamic
.video-background { 
  height: 480px;
  width: 640px;
  border: 5px solid black;
  z-index: -1;
}


canvas, .video-background {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 80%;
  // height: 80%;
  transform: translate(-50%, -50%);
}

video {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  transform: scaleX(-1);
  // -webkit-transform: scaleX(-1);
  // transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}

canvas {
  z-index: 1;
}


section {
  position: relative; 
  // width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 90%;
}

nav{
  padding: 15px;
}

a {
  font-size: 20px;
}

.link-container a + a {
  margin-left: 10px;
}
