.app {
  // transition: 1s;
  transition-duration: 1s;
}
.app.blur {
  filter: blur(10px)
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: block;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 900px;
}

.filter-controls {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  width: 97%;
}

.link-container {
  display: flex;
  align-items: center;
}

// make this video background dynamic
.video-background { 
  // height: 480px;
  // width: 640px;
  aspect-ratio: 4 / 3; 
  z-index: -1;
}

.control-background {
  z-index: 6;
}


#game-canvas, #effect-canvas, .video-background, .control-background  {
  aspect-ratio: 4 / 3; 
  display: block;
  margin: auto;
  position: absolute;
  width: auto;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  display: none;
}

#game-canvas {
  z-index: 1;
}

#effect-canvas {
  z-index: 5;
}

section {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  width: 100%;
}

nav{
  padding-top: 20px;
  padding-bottom: 15px;
}

header a {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.link-container a + a {
  margin-left: 8%;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-style: normal;
  font-size: 11px;
  display: flex;
  justify-content: end;
}

.copyright {
  margin-right: 1%;
}
