.app {
  transition: .5s;
}
.app.blur {
  filter: blur(10px)
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: block;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 900px;
}

// .filter-container {
//   display: block;
//   flex-grow: 1;
//   z-index: 6;
// }

.filter-controls {
  margin-left: 2%;
  margin-right: 2%;
  // max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 97%;
  max-width: 900px;
}

.link-container {
  display: flex;
  align-items: center;
}

// make this video background dynamic
.video-background { 
  height: 480px;
  width: 640px;
  z-index: -1;
}

.control-background {
  height: 480px;
  width: 640px;
  z-index: 6;
  display: block;
  margin: 0 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52.5%);
}


#game-canvas, #effect-canvas, .video-background {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

video {
  // height: 100vw;
  display: block;
  margin: 0 auto;
  position: absolute;
  transform: scaleX(-1);
  top: 4.5%;
}

#game-canvas {
  z-index: 1;
}

#effect-canvas {
  z-index: 5;
}

section {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 600px;
  width: 100%;
}

nav{
  padding-top: 20px;
  padding-bottom: 15px;
}

header a {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.link-container a + a {
  margin-left: 8%;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-style: normal;
  font-size: 11px;
  display: flex;
  justify-content: end;
}

.copyright {
  margin-right: 1%;
}
